body {   
    background-color:#152733;
    color: whitesmoke;
}
h1, h3{
    text-align: center;
    margin: 20px;
    padding: 10px;
}

input {
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
    width: 250px;
}
/* styles.css */

input:valid + span::after{
    content:"✓";
    padding: 5px;
    color: green;
}
input:invalid + span::after {
    content: "✖";
    padding: 5px;
    color: red !important;
}
.form-control{
    width: 350px;
}